@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family: 'Roboto'  sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}
li{
    list-style: none; 
}
.row{
    width:800px;
    margin:0 auto;
}
/*NAVAGATION*/
nav{
    display:flex;
    justify-content: space-between;
    max-width:1000px;
    height:100px;
    width:100%;
    margin:0 auto;
    margin-top:20px;
}
.nav__link--list{ 
    display:flex;   
}
.nav__link--anchor{
  margin:0 20px;
  text-decoration: none;
}
.nav__link--anchor--primary{
    background-color:#6030b1;
    border-radius: 50%;
    color:white;
    padding:5px 16px;
}
.nav__link--anchor--primary:hover{
    background-color:#5d3eff;
}
.personal__logo{
    color:#6030b1;
    font-size:24px;
}
.about-me__info--conatiner{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me__picture--mask{
    width:100px;
    height:100px;
    overflow: hidden;
    
}
.about-me__picture{
    width:100%;
    transform:scale(1.5);
 border-radius:50%;
 margin-bottom:20px;
 padding:0 20px;
    
}
.text-purple{
    color:#6030b1;
}